body {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}

header {
    text-align: center;
}

/* logo */
header img {
    width: 175px;
    padding-top: 20px;
}

/* set main as flexbox so horizontal lines on page would center  */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.input-form {
    display: flex;
    flex-direction: column;
}

.input-form h2 {
    font-size: 34px;
    text-align: center;
}

/* pink form body */
fieldset {
    width: 450px; /* match .journalEntry */
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    padding: 0px 20px 20px 20px;
    background-color: #EED5D2;
    border: 3px solid #BB7F8A;
    border-radius: 10px;
    margin: 0px auto;
}

/* first 3 labels in form */
.label {
    padding: 0px;
    margin-top: 10px;
}

/* last label in form - separated from label class because label created uneven vertical spacing */
.mood-label {
    padding: 0px;
    margin: 0px;
}

#journalDate {
    width: 250px;
    height: 25px;
    font-size: 16px; /* affects text inside input box only */
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#concepts {
    width: 250px;
    height: 25px;
    font-size: 16px; /* affects text inside input box only */
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#journalEntry {
    width: 436px; /* form textbox input for Journal Entry  */
    height: 75px;
    font-family: "Poppins", sans-serif; /* needed otherwise default textarea font used */
    font-size: 16px; /* affects text inside input box only */
    padding: 5px 0px 0px 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#mood {
    width: 260px;
    height: 30px;
    font-size: 16px; /* affects text inside input box only */
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 5px;

}

.mood-input {
    position: relative;
  }
  
.mood-input::after {
    content: "▼";
    font-size: 1rem;
    top: 6px;
    right: 10px;
    position: absolute;
}

/* Record Journal Entry button */
.btn-record {
    width: 496px; /* match .footer & .line */
    padding: 10px;
    margin: 10px 0px 30px 0px;
    font-size: 22px;
    background-color: #d7a9b2;
    border: 3px solid #BB7F8A;
    border-radius: 10px;
    align-self: center;
}

/* starts list of journal entries */
.entry-list {
    font-size: 22px;
    padding: 30px 0px;
    text-align: center;
}
.entry-list ul {
    list-style-type: none;
    padding: 0px;
    margin-left: -50px; /* reduces indent of list  */
}

ul li:before {
    content: '\2615'; /* this makes the coffee emoji bullets */
    margin: 0px 20px; /* the left right margin creates space after emoji */
}

.entry-list a {
    font-size: 22px;
    color: #d7a9b2;
    padding: 0px;
    margin: 0px;
    text-align: left;
    text-decoration: none;
}
/* ends list of journal entries */

.line {
    margin: 0px auto;
    width: 496px; /* match .btn-record & .footer  */
    border-top: 3px solid #BB7F8A; /* creates pink line */
}

/* container that holds all journal entries */
#entryLog {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 22px;
    color: #BB7F8A;    
    text-align: left;
    text-decoration: none;
    padding: 10px 0px;
    margin: 10px 0px;
}

/* starts journalEntry styling - this targets HTML rendered by JournalEntryComponent function in journalEntry.js  */
.journalEntry {
    align-self: center;
    width: 450px; /* match fieldset */
    margin: 10px 0px;
    text-align: left;
    padding: 20px;
    background-color: #f9e5e3;
    border: 3px solid #BB7F8A;
    border-radius: 10px;
}

.entry-date {
    font-size: 18px;
    font-weight: 500;
    color: black; 
    padding: 0px;
    margin-bottom: 10px;
}

.entry-concept {
    font-size: 22px;
    font-weight: 600;
    color: #BB7F8A; 
    padding: 0px;
    margin: 0px;
}

.entry-entry {
    font-size: 18px;
    font-weight: 300;
    color: black; 
    padding: 0px;
    margin: 0px;
}
/* ends journalEntry styling  */

/* starts footer styling */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.footer {
    width: 496px; /* match .btn-record & .line */
    margin: 0px;
    text-align: center;
}

.footer p {
    font-size: 20px;
    color: #d7a9b2; 
    padding-top: 20px;
    margin: 0px; 
}

.footer a {
    font-size: 18px;
    font-weight: 400;
    color: #BB7F8A; 
    text-decoration: none;
    padding: 0px;
    margin: 0px; 
}

p.copyright {
    font-size: 14px;
    font-weight: 100;
    color: #BB7F8A; 
    text-decoration: none;
    padding: 0px;
    margin: 20px 10px; 
}
/* ends footer styling */